.nav-default {
  background: #bf0909;
}
.logo-minsa {
  width: 150px;
  border:3px solid white;
  margin: 0 16px 0 0;
}
.covid-19 {
  color: white;
  font-size: 16px;
  border-left: 1px solid white;
  padding: 0 10px;
}

.section-form {
  margin: 0 auto;
  padding: 50px 0;
}

.box-button {
  margin-top: 31px;
}

.box-row {
  margin-bottom: 35px;
}